/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Kanit:wght@200;400;500;600&display=swap'); */


:root {
    --darkpurple: #1c1541;
    --purple: #433b76;
    --purpleTrans: rgba(67, 59, 118, 0.5);
    --gray: #22232b;
    --lightgray: #717171;
    --white: #ffffff;
    --whiteShadow: rgba(255, 255, 255, 0.2);
    --blackShadow: rgba(0, 0, 0);
  }

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Kanit'; */
    background-image: url('/Web_Frontend/src/img/space.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}


.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
    padding: 0vh 0vh -5vh 6vw;
    position: relative;
}

.announcing-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 88vw;
    padding: 5vh 6vw;
    position: relative;
}
.announcing-container button {
    position: absolute;
    bottom: 3%;
    right: 3%;
    padding: 10% 15% 10% 0%;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    width: 100px;
    height: 80px;
}
.announcing-container .playing-button button {
    position: relative;
    bottom: 3%;
    right: 3%;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    width: 60px;
    height: 60px;
    stroke: #dbdbdb;
    stroke-width:4px ;
}
.announcing-container button img {
    min-width: 10%;
    max-width: 100px;
    position: relative;
}
.announcing-container button img::after {
    position: absolute;
    content: "Back";
}

.special-container{
    position: absolute;
    right: 0%;
    top: 0%;
}

.special-color {
    border: 2px solid var(--origin-gray);
    padding: 1.2vh;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 40% 50%;
    position: relative;
    background-color: var(--purple);
}

.special-color .color-header {
    position: absolute;
    top: 10%;
    left: 5%;
    font-weight: bold;
    color: yellow;
    background-color: mediumslateblue;
    /* border: 2px solid red; */
    border-radius: 12px;
}


.special-color input {
    border: none;
    outline: none;
    color: white;
    text-align: center;
    background-color: var(--whiteShadow);
    border-radius: 15px;
}

/* James's code */
.sticky-left{
    display: flex;
    justify-self: flex-end;


}

.fullscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-color: #121624;

}
.flex{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    background-color: aqua;
}

.vertical-center{
    position: absolute;
    height: 100%;
}

.top-bar{
    position:absolute;
    /* border-style: solid; */
    left: 33%;
    top: -3%;
    z-index: 5;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-shadow: 10px 10px 10px black;

}
.status-bar{
    position:relative;
    display: flex;
    background-color:transparent;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    top:10%;
    z-index:1;
    height: 6vh;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    /* font-family: 'Kanit', sans-serif; */
    color: #FFFFFF;
    font-size: 2.5vh;
}
.total-post{

    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    background-size: cover;
    position: relative;
    min-width: 100%;
    min-height: 45%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.bottom-navbar{
    position: sticky;
    align-content: flex-end;
    justify-content: flex-start;
}




.row{
    color: #FFFFFF;
}
.container{
    display: flex;
    position: relative;

    max-width: 55%; 
    height: 35rem;
    color: #000000;
    border:3px;
    background: rgba(0, 0, 0, 0.07);
border: 2px solid rgba(255, 255, 255, 0.25);
border-radius: 15px;
}

.row{
    grid-area: 100px;
}
.playing-button{
    max-width: 60dvh; 
    height: 74vh;
    position:absolute;
    display: flex;
    flex-direction: row;
    
    align-items: flex-end;
    align-self: center;
    margin-right: 45vh;
}

#back{
    position: absolute;
    left:-6%;
    top:-30%;
}

#back img{
    width: 70px;
    position: absolute;
}
