:root {
    --darkpurple: #1c1541;
    --purple: #433b76;
    --purpleTrans: rgba(67, 59, 118, 0.5);
    --gray: #22232b;
    --lightgray: #717171;
    --white: #ffffff;
    --whiteShadow: rgba(255, 255, 255, 0.2);
    --blackShadow: rgba(0, 0, 0);
}

h1{
    color: var(--white);
    text-shadow: 20px 20px 40px var(--blackShadow);
}

body{
    background-image: url('../img/space.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

#player-choosen{
    background-color: var(--purpleTrans);
    border-radius: 25px;
}

#player-choosen div svg:hover{
    scale: 1.05;
}

#btnBox{
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px;
}

#btnBox button{
    width: 100px;
    height: 2em;
    margin-left: 10px;
    border-radius: 25px;
    color: var(--gray);
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px var(--blackShadow);
}

#btnBox button:hover{
    scale: 1.1;
}

#btnBox button span{
    font-size: 2em;
    font-weight: bold;
}

#btnBox button:first-child{
    background-color: greenyellow;
}

#btnBox button:nth-child(2){
    background-color: red;
}

#map-choosen button{
    background-color: transparent;
    border-width: 0em;
}

#map-choosen img:hover{
    scale: 1.05;
}

#map-choosen button:hover{
    box-shadow: 0px 0px 50px rgb(67, 59, 118); 
}

#color-choosen{
    background-color: darkgray;
    display: flex;
    box-shadow: 8px 8px 16px var(--blackShadow);
}

#color-choosen button{
    border-width: 0em;
    box-shadow: 2px 2px 4px var(--blackShadow);
}

#color-choosen button img{
    max-width: 100%;
    height: auto;
}

#color-choosen button:hover{
    scale: 1.05;
}

#player-choosen div svg{
    filter: drop-shadow(4px 4px 8px var(--blackShadow));
}

#player-choosen div input{
    box-shadow: 2px 2px 4px var(--blackShadow);
}

#play-button{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 0px;
    margin-top: 5px;
}

#play-button button{
    width: 120px;
    height: 40px;
    background-color: lightskyblue;
    border-width: 0em;
    box-shadow: 5px 5px 10px var(--blackShadow);
    border-radius: 25px;
    font-size: 1.5em;
    font-weight: bold;
}

#play-button button:hover{
    scale: 1.1;
}

#insert-code{
    background-color: var(--purpleTrans);
    border-radius: 25px;
}

#insert-code label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: mediumslateblue;
    border-radius: 25px;
    color: var(--white);
    width: 60px;
    margin: 8px;
}

#insert-code input{
    text-align: center;
    background-color: var(--whiteShadow);
    border-radius: 25px;
    border-width: 0em;
    color: var(--white);
    width: 160px;
    margin: 8px;
    margin-left: 0;
}

#insert-code button{
    border-radius: 25px;
    background-color: greenyellow;
    font-weight: bold;
    color: black;
    border-width: 0em;
    width: 35px;
    margin: 8px;
    margin-left: 0;
    box-shadow: 2px 2px 4px var(--blackShadow);
}

#insert-code button:hover{
    scale: 1.1;
}
